.form {
  padding: 20px;
  width: 200px;
  background-color: lightblue;
  border-radius: 5px;
  position: sticky;
  top: 0;
}
.form input {
  background: #ffffff3d;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 0 10px;
}
